@import 'styles/bootstrap';

.eventpromo {
	max-width: 700px;
	margin-bottom: 32px;
	margin-top: 30px;
	display: flex;
	position: relative;

	@include oGridRespondTo($until: S) {
		flex-direction: column;
		flex-direction: column-reverse;
		padding: 0;
	}

	@include oGridRespondTo($from: L, $until: XL) {
		width: 540px;
	}
}

.eventpromo__btn__container {
	max-width: 700px;
	text-align: center;
	margin-bottom: 48px;
}

.explore__btn {
	@include oButtonsContent($opts: (
		'size': 'big',
		'type': 'secondary',
	));

	@include oGridRespondTo($from: S) {
		@include oTypographySans($scale: 0);
	}
}